<!DOCTYPE html>
<html>
<head>
    <Title>Can we make a wedding website?</Title>
</head>
<body>
    <h1>Big head</h1>
    <h2>small head</h2>
    <strong>Listen!</strong>
    <em>Emphasis</em>
    Stop!
    <ul><li>For the stomach</li><li>For the road</li><li>For the herring</li><for the scone</ul>
    <section>
        {% for pith in posts %}
        <H1>{{ pith.title }}</H1>
        <P>{{ pith.text|linebreaksbr }}</P> <br>
        {% endfor %}
        Forver it is goine
        <aside>Or is it?</aside>
    </section>
</body>
</html>
Yo ho ho!